/* Import Local & Web Fonts */
@font-face {
	font-family: myFirstFont;
	src: url(SAMARN__.TTF);
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


@media screen and (prefers-reduced-motion: no-preference) {
	html {
	  scroll-behavior: smooth;
	}
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;
  
}

body{
	background: url('assets/background.png');
	background-position: center center;

	/* Background image doesn't tile */
	background-repeat: no-repeat;

	/* Background image is fixed in the viewport so that it doesn't move when
	the content's height is greater than the image's height */
	background-attachment: fixed;

	/* This is what makes the background image rescale based
	on the container's size */
	background-size: cover;
}
/*navbar-fixed-top*/
.nav{
    display: block;
}
.navbar{
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	top: 2%;
	padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
	
}
.marquetxt{
	width: 85%;
	text-align: center;
	font-weight: 700;
}


.container {
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );

  	width: 100%;
 	max-width: 85%;
  	margin: 20px auto 0 auto;
  	padding: 1rem;
  }

  .image {
	margin-left: 1rem;
	margin-right: 1rem;
	animation: fadeIn 2s;
  }
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

  img {
	width: 100%;
  }

.container2{
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );


	width: 100%;
 	max-width: 85%;
  	margin: 20px auto;
  	padding: 1rem;
}
.headr2{
	text-align: center;
	font-weight: 800;
}

/*Card Grid */
.unity-description{
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: flex-start;
}
:root{
	--background-dark: #2d3548;
	--text-light: rgba(255,255,255,0.6);
	--text-lighter: rgba(255,255,255,0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 1200px;
  }
  
.card-grid{
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: flex-start;
	animation: fadeIn 2s;
	margin-top: 20px;
	margin-left: 10px;
	display:grid;

	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-2);
	grid-row-gap: var(--spacing-(0.75));
	max-width: var(--width-container);
	width: 100%;
  }
  
  @media(min-width: 540px){
	.card-grid{
	  grid-template-columns: repeat(2, 1fr); 
	}
  }
  
  @media(min-width: 960px){
	.card-grid{
	  grid-template-columns: repeat(4, 1fr); 
	}
  }
  
  .card{
	list-style: none;
	position: relative;
	height: 90%;
	width: 90%;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	border-radius: 10px;
  }
  
  .card:before{
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
	border-radius: 10px;
  }
  
  .card__background{
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition: 
	  filter 200ms linear,
	  transform 200ms linear;
	  border-radius: 10px;
  }
  
  .card:hover .card__background{
	transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
  }
  
  .card__category{
	color: var(--text-light);
	font-size: 0.6rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
  }
  
  .card__heading{
	color: var(--text-lighter);
	font-size: 1rem;
	text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	line-height: 1.4;
  }


  
/*Coprygith Footer*/
.footer-copyright{
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	bottom:0;
	text-align: center	;
	width: 100%;
 	max-width: 85%;
  	margin: 20px auto;
  	padding: 1rem;
}

.container3{
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );


	width: 100%;
 	max-width: 85%;
  	margin: 20px auto;
  	padding: 1rem;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.leader 
{
	width: 48%;
    display: flex;
    flex-direction: column;
}

.leader img{
	width: 100%;
	height: auto;
}


.quote {
	display: block;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    margin-top: 30px;
    padding: 20px;
}


/*Smooth Scrolling Effect*/
video {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
  
  .btn {
	color: #ffffff;
	padding: 0.8rem;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: 400;
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: transparent;
  }
  
  .btn:hover {
	background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .cards_item {
	display: flex;
	padding: 1rem;
  }
  
  @media (min-width: 40rem) {
	.cards_item {
	  width: 50%;
	}
  }
  
  @media (min-width: 56rem) {
	.cards_item {
	  width: 33.3333%;
	  border-radius: 10px;
	}
  }
  
  .card2 {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
  }
  
  .card_content {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 1rem;
	background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  }
  
  .card_title {
	color: #ffffff;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0px;
  }
  
  .card_text {
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5;  
	font-weight: 400;
  }


  .container4{
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );


	width: 100%;
 	max-width: 85%;
  	margin: 20px auto;
  	padding: 1rem;
}